*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
}

header{
    background-color: rgb(59, 58, 58);
    text-decoration: none;
    
    height: 50px;
}

input{
    border-radius: 30px;
    height: 30px;
    width: 300px;
}